$green: #548039;
$medium-green:#7BA65E;
$light-green:  #72ac4d;
$white-light-green: #F1F5F0;

$blue: #6F758D;
$medium-blue: #7BA5C9;
$light-blue: #5E9CD3;


$red: #BE0A22;
$medium-red: #C32027;
$light-red: #BE0712;

$gray: #D8D8D8;
$medium-gray: #C7BAAC;
$black: #5B4D44;

$yellow: #ffe500;